doctype html
html(lang='en')
 head
  title Weather Web Application
  link(rel='stylesheet', href='style.css')
 body
  h1 Find out the weather in your city
  div.inputContainer
   p Enter your city now!
   input#cityName(type="text")
   button.search#search Search
  div.outputContainer
   div.loader#loader
   div#myErrorContainer
   img#picture
   div#place
   div#weather
   div#temperature
   div#wind
  script(src='script.js')
 